
body {
    background-image: url(texturagrs.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;

}

.contenedor{
    display: flex;
    width: 800px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    overflow: hidden;

}
#ulcontenedor{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
}
#ulcontenedor, p{
    margin-top: 0;
    margin = 0;
}
@keyframes cambiar {
    0%{margin-top: 0px;}
    15%{margin-top: -40px;}
    30%{margin-top: -80px;}
    45%{margin-top: -120px;}
    60%{margin-top: -160px;}
    75%{margin-top: -200px;}
    100%{margin-top: 0px;}
}

h1 {
    color: #2E86C1;
    text-align: center;
}
.Tabla_Titulo th{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    width:100%;

}
.Tabla table{
    margin: 0 auto;
    width:100%;


}
.Tabla td {
    color: black;
    text-align: center;

}
.Tabla th {
    color: white;
    text-align: center;
    background-color: #2E86C1;
}
#MiFoto {
    width: 100px;
    height: 100px;
    float:center;
}
.Tabla li{
    text-align: left;
    padding-left: 10px;
    line-height: 20px;
}
.tabla ul{
    text-align: left;
}
