table{
    padding-left: 0;
    padding-right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

}
video{
    padding-left: 0;
    padding-right: 0;
    background-color:black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:  70%;
    height: auto;
    border-style: solid;
    border-color: black;

}
button{
    padding-left: 0;
    padding-right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
