canvas {
    padding-left: 0;
    padding-right: 0;
    background-color:black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 540px;
    height: 390px;
    border: 1px solid #d3d3d3;;
}
video {
    padding-left: 0;
    padding-right: 0;
    background-color:black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 540px;
    height: 390px;
    border: 1px solid #d3d3d3;;

}
h2{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
#coloresPacman{
    float:right;
    width: 30px;
    margin: 30px;
    border: 1px solid;
}
button{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
#zonaDestino{
    float:right;
    width: 100;
    margin: 30px;
    border: 1px solid;

}
